.root {
  position: absolute;
  top: 50%;
  left: 0;
  height: none;
  width: 100%;
  box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: 9%;
  z-index: 200;
}

.spacerCtn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F4F2;
}

.border1 {
  width: 85%;
  height: 1px;
  background-color: rgba(64, 46, 50, 1);
}

.border2 {
  width: 100%;
  height: 2px;
  background-color: #F99A54;
  z-index: 1000;
}