.logoCtn {
  cursor: pointer;
}

.logo {
  width: 227px;
  height: 57px;
}

.headerCtn {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  padding: 10px 10px;
  background-color: var(--bgColor4);
  min-width: fit-content;
}

.headerCtn > div {
  margin-right: 5px;
  height: 100%;
}

.headerCtn > div:last-child {
  margin-right: 0;
}

.remainCtn {
  flex-grow: 1;
}

.name {
  font-size: 16;
  font-weight: 800;
  color: #231811;
  background-color: #F99A54;
  text-align: right;
  padding: 2px;
}

.role {
  font-size: 12px;
  font-weight: 700;
  color: #231811;
  background-color: #F99A54;
  text-align: right;
  padding: 0px 2px;
}

.notiBtnCtn {
  height: 100%;
  position: relative;
}

.notiBtnAlert {
  position: absolute;
  top: 15px;
  right: 18px;
  width: 10px;
  height: 10px;
  border-radius: 30px;
  background-color: var(--main);
}

.notiCtn {
  position: absolute;
  top: 105%;
  right: 0px;
  width: fit-content;
  min-width: 270px;
  border: 1px solid rgba(35, 24, 17, 0.75);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), -4px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--bgColor4);
  z-index: 1;
}

.tabCtn {
  height: 60px;
  width: 270px;
}