.root {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.navCtn {
  width: 100%;
  min-height: 50px;
  margin-bottom: 10px;
}

.searchCtn {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #402e32;
  border-radius: 15px;
  margin-bottom: 10px;
}

.resultCtn {
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputCtn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.inputDetailCtn {
  width: calc(50% - 10px);
}

.inputWrapper {
  height: 56px;
  width: 200px;
}

.spacer {
  height: 100%;
  margin: 0 10px;
}

.wrapper {
  min-height: 100%;
  max-height: 100%;
}

.pagination {
  width: 100%;
  position: absolute;
  bottom: 10px;
  right: 0;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnCtn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.btnWrapper {
  border-radius: 10px;
}
