.root {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 34px;
  border: 1px solid rgba(35, 24, 17, 0.75);
  margin-bottom: 20px;
}
