.root {
  position: relative;
  height: 56px;
  min-width: 330px;
  flex: 1;
  margin-top: 20px;
}

.label {
  position: absolute;
  top: -8px;
  left: 11px;
  padding: 0 8px;
  background-color: #F5F4F2;
}

.name {
  color: #bdbdbd;
}

.input {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border-color: #bdbdbd;
  padding: 0 18px;
  font-size: 16px;
  outline: 0;
  background-color: #F5F4F2;
}

.input:focus {
  border-color: #231811;
  -webkit-box-shadow: none;
  outline: none !important;
  background-color: #F5F4F2;
}

.input:focus + .label p {
  color: #231811 !important ;
  font-weight: 700;
}

.icon {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  color: #bdbdbd;
  cursor: pointer;
}
