.root {
  position: relative; 
  display: flex;
  align-items: center;
  justify-content: left;
  height: 100%;
}

.icon {
  cursor: pointer;
  min-width: 30px;
}

.btn {
  text-align: left;
  flex-grow: 1;
}

.cursorPointer {
  cursor: pointer;
}

.cursorDefault {
  cursor: default;
}