/* Border Radius 4 corner */

.br-2 {
  border-radius: 2px;
}

.br-8 {
  border-radius: 8px;
}

.br-10 {
  border-radius: 10px;
}

.br-15 {
  border-radius: 15px;
}

.br-50 {
  border-radius: 50%;
}

/* Border Radius 1 corner */

.br-TopLeft-2 {
  border-top-left-radius: 2px;
}

.br-TopRight-2 {
  border-top-right-radius: 2px;
}

.br-BottomLeft-2 {
  border-bottom-left-radius: 2px;
}

.br-BottomRight-2 {
  border-bottom-right-radius: 2px;
}

.br-TopLeft-2 {
  border-top-left-radius: 2px;
}

.br-TopRight-10 {
  border-top-right-radius: 10px;
}

.br-BottomLeft-10 {
  border-bottom-left-radius: 10px;
}

.br-BottomRight-10 {
  border-bottom-right-radius: 10px;
}

.br-TopLeft-15 {
  border-top-left-radius: 15px;
}

.br-TopRight-15 {
  border-top-right-radius: 15px;
}

.br-BottomLeft-15 {
  border-bottom-left-radius: 15px;
}

.br-BottomRight-15 {
  border-bottom-right-radius: 15px;
}

/* Border color */

.border-main {
  border-color: #f8853e;
}

.border-header {
  border-color: var(--header);
}

.border-bg5-60 {
  border-color: rgba(64, 46, 50, 0.6);
}

/* Border width */

.border-1 {
  border-width: 1px;
}

.border-top-1 {
  border-top-width: 1px;
}

.border-right-1 {
  border-right-width: 1px;
}

.border-bottom-1 {
  border-bottom-width: 1px;
}

.border-left-1 {
  border-left-width: 1px;
}

/* Border style */

.border-style-solid {
  border-style: solid;
}