:root {
  --black: #000000;
  --white: #ffffff;
  --main: #f8853e;
  --header: #f99a54;
  --subColor1: #faaf6a;
  --subColor2: #fcca7f;
  --subColor3: #fdd995;
  --bgColor1: #feeeab;
  --bgColor2: #fff5ea;
  --bgColor3: #dfe0df;
  --bgColor4: #f5f4f2;
  --bgColor5: #402e32;
  --bgColor550: rgba(64, 46, 50, 0.5);
  --bgColor575: rgba(64, 46, 50, 0.75);
  --bgColor6: #D9D9D9;
  --text: #231811;
  --text50: rgba(35, 24, 17, 0.5);
  --text60: rgba(35, 24, 17, 0.6);
  --text75: rgba(35, 24, 17, 0.75);
  --error: #c22424;
  --warning: #fabc20;
  --success: #439872;
}

/* Text colors */

.black {
  color: #000000;
}

.white {
  color: #ffffff;
}

.main {
  color: #f8853e;
}

.header {
  color: #f99a54;
}

.subColor1 {
  color: #faaf6a;
}

.subColor2 {
  color: #fcca7f;
}

.subColor3 {
  color: #fdd995;
}

.bgColor1 {
  color: #feeeab;
}

.bgColor2 {
  color: #fff5ea;
}

.bgColor3 {
  color: #dfe0df;
}

.bgColor4 {
  color: #f5f4f2;
}

.bgColor5 {
  color: #402e32;
}

.bgColor550 {
  color: #402e3299;
}

.bgColor575 {
  color: #402e32bf;
}

.bgColor6 {
  color: #D9D9D9;
}

.text {
  color: #231811;
}

.text60 {
  color: #23181199;
}

.text75 {
  color: #23181100;
}

.success {
  color: #439872;
}

.warning {
  color: var(--warning);
}

.error {
  color: #c22424;
}

.textError {
  color: #f16767;
}

/* Background colors */

.bg-black {
  background-color: #000000;
}

.bg-white {
  background-color: #ffffff;
}

.bg-main {
  background-color: #f8853e;
}

.bg-header {
  background-color: #f99a54;
}

.bg-subColor1 {
  background-color: #faaf6a;
}

.bg-subColor2 {
  background-color: #fcca7f;
}

.bg-subColor3 {
  background-color: #fdd995;
}

.bg-bgColor1 {
  background-color: #feeeab;
}

.bg-bgColor2 {
  background-color: #fff5ea;
}

.bg-bgColor3 {
  background-color: #dfe0df;
}

.bg-bgColor4 {
  background-color: #f5f4f2;
}

.bg-bgColor5 {
  background-color: #402e32;
}

.bg-bgColor550 {
  background-color: #402e3299;
}

.bg-bgColor560 {
  background-color: rgba(64, 46, 50, 0.6);
}

.bg-bgColor575 {
  background-color: #402e32bf;
}

.bg-bgColor6 {
  background-color: #D9D9D9;
}

.bg-bgColor7 {
  background-color: #7e7a7a;
}

.bg-text {
  background-color: #231811;
}

.bg-text60 {
  background-color: #23181199;
}

.bg-text75 {
  background-color: #23181100;
}

.bg-success {
  background-color: #439872;
}

.bg-warning {
  background-color: var(--warning);
}

.bg-error {
  background-color: #c22424;
}
