/* Box Shadow */

.formTab-1 {
  box-shadow: inset -3px -3px 10px rgba(0, 0, 0, 0.3);
}

.formTab-2 {
  box-shadow: inset 3px -3px 10px rgba(0, 0, 0, 0.3);
}

/* Cursor */

.pointer {
  cursor: pointer;
}

/* Z-index */

.zIndex-100 {
  z-index: 100;
}

.zIndex-200 {
  z-index: 200;
}

.zIndex-300 {
  z-index: 300;
}

.zIndex-400 {
  z-index: 400;
}

.zIndex-500 {
  z-index: 500;
}

/* Height */

.h-16 {
  height: 16px;
}

.h-24 {
  height: 24px;
}

.h-30 {
  height: 30px;
}

.h-39 {
  height: 39px;
}

.h-40 {
  height: 40px;
}

.h-56 {
  height: 56px;
}

.h-57 {
  height: 57px;
}

.h-60 {
  height: 60px;
}

.h-68 {
  height: 68px;
}

/* Width */

.w-16 {
  width: 16px;
}

.w-24 {
  width: 24px;
}

.w-30 {
  width: 30px;
}

.w-340 {
  width: 340px;
}

.w-auto {
  width: auto !important;
}

/* Font size */

.fs-16 {
  font-size: 16px;
}

.fs-20 {
  font-size: 20px;
}

/* Font weight */

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Text align */

.ta-right {
  text-align: right;
}