/* Column Grid */

.col-1 {
  flex: 0 0 auto;
  width: 4.166%;
}

.col-2 {
  flex: 0 0 auto;
  width: 8.332%;
}

.col-3 {
  flex: 0 0 auto;
  width: 12.498%;
}

.col-4 {
  flex: 0 0 auto;
  width: 16.664%;
}

.col-5 {
  flex: 0 0 auto;
  width: 20.83%;
}

.col-6 {
  flex: 0 0 auto;
  width: 24.996%;
}

.col-7 {
  flex: 0 0 auto;
  width: 29.162%;
}

.col-8 {
  flex: 0 0 auto;
  width: 33.328%;
}

.col-9 {
  flex: 0 0 auto;
  width: 37.494%;
}

.col-10 {
  flex: 0 0 auto;
  width: 41.66%;
}

.col-11 {
  flex: 0 0 auto;
  width: 45.826%;
}

.col-12 {
  flex: 0 0 auto;
  width: 50%;
}

.col-13 {
  flex: 0 0 auto;
  width: 54.158%;
}

.col-14 {
  flex: 0 0 auto;
  width: 58.324%;
}

.col-15 {
  flex: 0 0 auto;
  width: 62.49%;
}

.col-16 {
  flex: 0 0 auto;
  width: 66.656%;
}

.col-17 {
  flex: 0 0 auto;
  width: 70.822%;
}

.col-18 {
  flex: 0 0 auto;
  width: 74.988%;
}

.col-19 {
  flex: 0 0 auto;
  width: 79.154%;
}

.col-20 {
  flex: 0 0 auto;
  width: 83.32%;
}

.col-21 {
  flex: 0 0 auto;
  width: 87.486%;
}

.col-22 {
  flex: 0 0 auto;
  width: 91.652%;
}

.col-23 {
  flex: 0 0 auto;
  width: 95.818%;
}

.col-24 {
  flex: 0 0 auto;
  width: 100%;
}

/* Row Grid */

:root {
  --rowSingle: calc(920px / 24);
}

.row-1 {
  flex: 0 0 auto;
  height: 4.166%;
}

.row-2 {
  flex: 0 0 auto;
  height: 8.332%;
}

.row-3 {
  flex: 0 0 auto;
  height: 12.498%;
}

.row-4 {
  flex: 0 0 auto;
  height: 16.664%;
}

.row-5 {
  flex: 0 0 auto;
  height: 20.83%;
}

.row-6 {
  flex: 0 0 auto;
  height: 24.996%;
}

.row-7 {
  flex: 0 0 auto;
  height: 29.162%;
}

.row-8 {
  flex: 0 0 auto;
  height: 33.328%;
}

.row-9 {
  flex: 0 0 auto;
  height: 37.494%;
}

.row-10 {
  flex: 0 0 auto;
  height: 41.66%;
}

.row-11 {
  flex: 0 0 auto;
  height: 45.826%;
}

.row-12 {
  flex: 0 0 auto;
  height: 50%;
}

.row-13 {
  flex: 0 0 auto;
  height: 54.158%;
}

.row-14 {
  flex: 0 0 auto;
  height: 58.324%;
}

.row-15 {
  flex: 0 0 auto;
  height: 62.49%;
}

.row-16 {
  flex: 0 0 auto;
  height: 66.656%;
}

.row-17 {
  flex: 0 0 auto;
  height: 70.822%;
}

.row-18 {
  flex: 0 0 auto;
  height: 74.988%;
}

.row-19 {
  flex: 0 0 auto;
  height: 79.154%;
}

.row-20 {
  flex: 0 0 auto;
  height: 83.32%;
}

.row-21 {
  flex: 0 0 auto;
  height: 87.486%;
}

.row-22 {
  flex: 0 0 auto;
  height: 91.652%;
}

.row-23 {
  flex: 0 0 auto;
  height: 95.818%;
}

.row-24 {
  flex: 0 0 auto;
  height: 100%;
}