.root {
  position: absolute;
  top: 120%;
  right: 0px;
  outline: 1px solid var(--text75);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), -4px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--bgColor4);
}

.tabCtn {
  height: 55px;
}
