.root {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: var(--bgColor4);
}

.loginContainer {
  height: 100vh;
  min-height: 735px;
  min-width: 720px;
}

.welcome {
  padding: 0px 20px;
  margin-bottom: 20px;
}

.formContainer {
  border-radius: 10px;
  box-shadow: -2px 2px 10px 0 rgba(0, 0, 0, 0.3);
}

.formWrapper {
  /* width: 100%; */
  padding: 50px 60px;
}

.textWrapper {
  /* padding: 0 30px; */
  margin-bottom: 20px;
}

.infoWrapper {
  /* width: 100%; */
  height: 390px;
  /* padding: 0 45px; */
}

.infoWrapperSignIn {
  /* width: 100%; */
  height: 280px;
  /* padding: 0 45px; */
}

.signIn {
  cursor: 'pointer';
}

.signIn:hover {
  border-bottom: 2px solid var(--black);
}

.forgotPass {
  height: 25px;
  margin-top: 5px;
  margin-bottom: 25px;
}

.hoverPass {
  color: #424242;
}

.hoverPass:hover {
  border-bottom: 2px solid var(--black);
  cursor: pointer;
}

.haveAccount {
  font-size: 14px;
}

.forgotPassCtn {
  width: 100%;
  min-width: 550px;
}

.contactCtn {
  max-width: 550px;
  padding: 50px 90px;
}

@media only screen and (max-width: 1250px) {
  .loginContainer {
    left: 50%;
    transform: translate(-50%, 0);
  }
}
