.root {
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  position: relative;
}

.wrapper {
  min-height: 100%;
  max-height: 100%;
}

.pagination {
  position: absolute;
  bottom: 10px;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}