.root {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 220px;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}

.structCtn {
  padding: 25px 0;
}

.spacer {
  width: calc(100% - 30px);
  height: 2px;
  background-color: rgba(64, 46, 50, 0.6);
}

.storageCtn {
  padding: 15px;
  width: 100%;
  flex: 0 1 auto;
  /* height: 25px; */
}

.progressCtn {
  height: 5px;
  border-radius: 100px;
  margin-top: 5px;
}

.progressBar {
  border-radius: 100px;
}

.tabCtn {
  height: 44px;
}

.buttonText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.folderStruct{
  flex: 1 1 auto;
  overflow-y: auto;
}
