.root {
  border-right: 2px solid rgba(35, 24, 17, 0.75);
  overflow-y: auto;
  resize: horizontal;
  max-width: calc(100% - 5px);
  min-width: 220px;
}

.structCtn {
  padding: 25px 0;
}

.spacer {
  width: calc(100% - 30px);
  height: 2px;
  background-color: rgba(64, 46, 50, 0.6);
}