.root {
  position: relative;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.pageCtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  cursor: pointer;
}