.root {
  min-width: 165px;
  background-color: var(--bgColor4);
  position: absolute;
  left: calc(100% + 2px);
  top: 0%;
  border: 1px solid var(--bgColor5);
  overflow: hidden;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.tabCtn {
  height: 60px;
}

.border {
  border-bottom: 1px solid #231811;
}