.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 735px;
  overflow: hidden;
}

.firstCircle {
  position: absolute;
  top: -277px;
  left: -340px;
  width: 1200px;
  height: 1200px;
  border-radius: 50%;
  filter: blur(50px);
  /* border: 1px solid red; */
}

.secondCircle {
  position: absolute;
  top: 50px;
  right: 35%;
  width: 850px;
  height: 850px;
  border-radius: 50%;
  filter: blur(100px);
}

.image {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 40%;
  height: 623px;
  width: 823px;
}
